<template>
    <main  class="page-content pt-2">
        <div id="overlay" class="overlay"></div>
        <div class="container-fluid p-5">
            <div class="row">
                <div class="form-group col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="">Home</a></li>
                            <li class="breadcrumb-item" >Setup</li>
                            <li class="breadcrumb-item active" aria-current="page">Accounts</li>
                        </ol>
                    </nav>
                    <h4 class="form-head">Accounts List</h4>
                    <div class="row justify-content-center">
                        <div class="col-md-12 margin-top">
                            <div align="right" style="margin: 0px 0px 20px 0px"><a href=""><button class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> CREATE</button></a></div>
                            <table class="table table-striped table-sm table-bordered table-hover table-mediascreen" id="account_list">
                                <thead class="thead-dark">
                                <tr align="center">
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Contact No.</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody >

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</template>

<script>
    export default {
        name: "Dashboard"
    }
</script>

<style scoped>

</style>