<template>
    <div class="page-wrapper default-theme sidebar-bg bg1 toggled">
        <label for="offcanvas-menu" class="full-screen-close"></label>
        <!--SideBar for Application-->
        <input type="checkbox" id="offcanvas-menu" class="toggle" />
        <aside class="menu-container" :class="{ shown : shown == true }">

            <div class="menu-heading clearfix">
                <label for="offcanvas-menu" class="close-btn" @click="closeButton">
                    <i class="fa fa-times"></i>
                </label>
            </div><!--end menu-heading-->

            <div class="container">
                <span class="sw-label">Switch to</span>
                <nav class="slide-menu">
                    <ul>
                        <li><a href="#"><i class="fa fa-folder-open"></i>Hris / Payroll</a></li>
                        <li><a href="#"><i class="fa fa-folder-open"></i>Accounting</a></li>
                        <li><a href="#"><i class="fa fa-folder-open"></i>Inventory</a></li>
                        <li><a href="#"><i class="fa fa-folder-open"></i>CRM</a></li>
                        <li><a href="#"><i class="fa fa-cogs"></i>Administration</a></li>
                    </ul>
                </nav><!--end slide-menu -->
            </div>
        </aside><!--end menu-container-->
        <!--end SideBar for Application-->
        <nav id="sidebar" class="sidebar-wrapper">

            <div class="sidebar-content">
                <!-- sidebar-brand  -->
                <div class="sidebar-item sidebar-brand">
                    <a href="">Mayon Machineries</a>
                </div>
                <!-- sidebar-header  -->
                <div class="sidebar-item sidebar-header d-flex flex-nowrap">
                    <div class="user-pic">
                        <img src="../images/user.jpg" class="img-responsive img-rounded"  alt="User picture">
                    </div>
                    <div class="user-info">
                        <span class="user-name">{{ user.name}}
                        </span>
                        <span class="user-role">Administrator</span>
                        <span class="user-status">
                            <i class="fa fa-circle"></i>
                            <span>Online</span>
                        </span>
                    </div>
                </div>
                <!-- sidebar-search  -->
                <div class="sidebar-item sidebar-search">
                    <div>
                        <div class="input-group">
                            <input type="text" class="form-control search-menu" placeholder="Search...">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- sidebar-menu  -->
                <div class=" sidebar-item sidebar-menu">
                    <ul>
                        <li class="header-menu">
                            <span>General</span>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-dashboard"></i>
                                <span class="menu-text">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-dashboard"></i>
                                <span class="menu-text">Items</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-dashboard"></i>
                                <span class="menu-text">Banking</span>
                            </a>
                        </li>

                        <li class="header-menu">
                            <span>Operations</span>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-tachometer-alt"></i>
                                <span class="menu-text">Sales</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="#">Customers
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">Billing Advice</a>
                                    </li>
                                    <li>
                                        <a href="#">Billing Statement</a>
                                    </li>
                                    <li>
                                        <a href="#">Payment Received</a>
                                    </li>
                                    <li>
                                        <a href="#">Credits</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-tachometer-alt"></i>
                                <span class="menu-text">Purchases</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="#">Vendors
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">Expenses</a>
                                    </li>
                                    <li>
                                        <a href="#">Payments Made</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="divider">
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-tachometer-alt"></i>
                                <span class="menu-text">Time Tracking</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="#">Projects</a>
                                    </li>
                                    <li>
                                        <a href="#">Timesheet</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-tachometer-alt"></i>
                                <span class="menu-text">Accountant</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="#">General Journal</a>
                                    </li>
                                    <li>
                                        <a href="#">Currency Adjustments</a>
                                    </li>
                                    <li>
                                        <a href="#">Chart of Accounts</a>
                                    </li>
                                    <li>
                                        <a href="#">Budget Plan</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-calendar"></i>
                                <span class="menu-text">Reports</span>
                            </a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-calendar"></i>
                                <span class="menu-text">Documents</span>
                            </a>
                        </li>

                    </ul>
                </div>
                <!-- sidebar-menu  -->
            </div>
            <!-- sidebar-footer  -->
            <div class="sidebar-footer">
                <div class="dropdown">

                    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bell"></i>
                        <span class="badge badge-pill badge-warning notification">3</span>
                    </a>
                    <div class="dropdown-menu notifications" aria-labelledby="dropdownMenuMessage">
                        <div class="notifications-header">
                            <i class="fa fa-bell"></i>
                            Notifications
                        </div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <div class="notification-content">
                                <div class="icon">
                                    <i class="fas fa-check text-success border border-success"></i>
                                </div>
                                <div class="content">
                                    <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing
                                        elit. In totam explicabo</div>
                                    <div class="notification-time">
                                        6 minutes ago
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a class="dropdown-item" href="#">
                            <div class="notification-content">
                                <div class="icon">
                                    <i class="fas fa-exclamation text-info border border-info"></i>
                                </div>
                                <div class="content">
                                    <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing
                                        elit. In totam explicabo</div>
                                    <div class="notification-time">
                                        Today
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a class="dropdown-item" href="#">
                            <div class="notification-content">
                                <div class="icon">
                                    <i class="fas fa-exclamation-triangle text-warning border border-warning"></i>
                                </div>
                                <div class="content">
                                    <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing
                                        elit. In totam explicabo</div>
                                    <div class="notification-time">
                                        Yesterday
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-center" href="#">View all notifications</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-envelope"></i>
                        <span class="badge badge-pill badge-success notification">7</span>
                    </a>
                    <div class="dropdown-menu messages" aria-labelledby="dropdownMenuMessage">
                        <div class="messages-header">
                            <i class="fa fa-envelope"></i>
                            Messages
                        </div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <div class="message-content">
                                <div class="pic">
                                    <img src="" alt="">
                                </div>
                                <div class="content">
                                    <div class="message-title">
                                        <strong> Jhon doe</strong>
                                    </div>
                                    <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing
                                        elit. In totam explicabo</div>
                                </div>
                            </div>

                        </a>
                        <a class="dropdown-item" href="#">
                            <div class="message-content">
                                <div class="pic">
                                    <img src="" alt="">
                                </div>
                                <div class="content">
                                    <div class="message-title">
                                        <strong> Jhon doe</strong>
                                    </div>
                                    <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing
                                        elit. In totam explicabo</div>
                                </div>
                            </div>

                        </a>
                        <a class="dropdown-item" href="#">
                            <div class="message-content">
                                <div class="pic">
                                    <img src="" alt="">
                                </div>
                                <div class="content">
                                    <div class="message-title">
                                        <strong> Jhon doe</strong>
                                    </div>
                                    <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing
                                        elit. In totam explicabo</div>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-center" href="#">View all messages</a>

                    </div>
                </div>
                <div class="dropdown">
                    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-cog"></i>
                        <span class="badge-sonar"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuMessage">
                        <a class="dropdown-item" href="#">My profile</a>
                        <a class="dropdown-item" href="#">Help</a>
                        <a class="dropdown-item" href="">Setting</a>
                    </div>
                </div>
                <div>
                    <a href="" onclick="event.preventDefault();document.getElementById('logout-form').submit();">
                        <i class="fa fa-power-off"></i>
                    </a>
                    <form id="logout-form" action="" method="POST" style="display: none;">@csrf</form>
                </div>
                <div class="pinned-footer">
                    <a href="#">
                        <i class="fas fa-ellipsis-h"></i>
                    </a>
                </div>
            </div>
        </nav>

        <!-- page-content  -->
        <router-view/>
        <!--@include('layouts.modal')-->
        <!-- page-content"  -->
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'
    import $ from 'jquery'
    import 'jquery-mousewheel'
    import 'malihu-custom-scrollbar-plugin'

    export default {
        name: "NavigationSidebar",
        data (){
            return{
                shown : false
            }
        },
        computed:{
            ...mapGetters({
                user: 'auth/user'
            })
        },
        methods:{
            closeButton(){

            },
            bindScrollBar(){
                $(".sidebar-dropdown > a").click(function () {
                    $(".sidebar-submenu").slideUp(200);
                    if ($(this).parent().hasClass("active")) {
                        $(".sidebar-dropdown").removeClass("active");
                        $(this).parent().removeClass("active");
                    } else {
                        $(".sidebar-dropdown").removeClass("active");
                        $(this).next(".sidebar-submenu").slideDown(200);
                        $(this).parent().addClass("active");
                    }

                });

                //toggle sidebar
                $("#toggle-sidebar").click(function () {
                    $(".page-wrapper").toggleClass("toggled");
                });
                //Pin sidebar
                $("#pin-sidebar").click(function () {
                    if ($(".page-wrapper").hasClass("pinned")) {
                        // unpin sidebar when hovered
                        $(".page-wrapper").removeClass("pinned");
                        $("#sidebar").unbind( "hover");
                    } else {
                        $(".page-wrapper").addClass("pinned");
                        $("#sidebar").hover(
                            function () {
                                console.log("mouseenter");
                                $(".page-wrapper").addClass("sidebar-hovered");
                            },
                            function () {
                                console.log("mouseout");
                                $(".page-wrapper").removeClass("sidebar-hovered");
                            }
                        )

                    }
                });


                //toggle sidebar overlay
                $("#overlay").click(function () {
                    $(".page-wrapper").toggleClass("toggled");
                });

                //switch between themes
                var themes = "default-theme legacy-theme chiller-theme ice-theme cool-theme light-theme";
                $('[data-theme]').click(function () {
                    $('[data-theme]').removeClass("selected");
                    $(this).addClass("selected");
                    $('.page-wrapper').removeClass(themes);
                    $('.page-wrapper').addClass($(this).attr('data-theme'));
                });

                // switch between background images
                var bgs = "bg1 bg2 bg3 bg4";
                $('[data-bg]').click(function () {
                    $('[data-bg]').removeClass("selected");
                    $(this).addClass("selected");
                    $('.page-wrapper').removeClass(bgs);
                    $('.page-wrapper').addClass($(this).attr('data-bg'));
                });

                // toggle background image
                $("#toggle-bg").change(function (e) {
                    e.preventDefault();
                    $('.page-wrapper').toggleClass("sidebar-bg");
                });

                // toggle border radius
                $("#toggle-border-radius").change(function (e) {
                    e.preventDefault();
                    $('.page-wrapper').toggleClass("border-radius-on");
                });

                //custom scroll bar is only used on desktop
                if (!/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                    $(".sidebar-content").mCustomScrollbar({
                        axis: "y",
                        autoHideScrollbar: true,
                        scrollInertia: 300
                    });
                    $(".sidebar-content").addClass("desktop");
                }
            }
        },
        mounted(){
            this.bindScrollBar()
        }
    }
</script>

<style scoped>

</style>