<template>
    <div class="first-sidebar">
        <ul>
            <li class="content">
                <a href="#" class="menu">
                    <label for="" class="toggle-btn" title="Switch to" >
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </label>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-bell" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "Sidebar"
    }
</script>

<style scoped>

</style>