<template>
  <div id="app">

    <template v-if="authenticated">
      <Sidebar/>
      <NavigationSidebar/>
    </template>

    <template v-else>
      <Login/>
    </template>

  </div>
</template>
<script>
  import { mapGetters } from 'vuex'

  import Sidebar from './components/Sidebar'
  import NavigationSidebar from './components/NavigationSidebar'
  import Login from './components/Login'

  export default {
    components:{
      Sidebar,
      NavigationSidebar,
      Login
    },
    computed:{
      ...mapGetters({
          authenticated: 'auth/authenticated',
      })
    }

  }
</script>

