/**
 * style for customize css needed for the application
 */

//General CSS
.breadcrumb{
    margin-top:24px;
    background-color: white !important;
    margin-left: -16px;
}
.btn-primary{
    background-color: #00007c !important;
}
.form-head{
    margin-top: -15px;
    color: #00007c;
    font-weight: 600;
} 