// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//side-bar
$sidebar-width:290px;
$sidebar-nav-width:240px;
$sidebar-pinned-width:80px;
$sidebar-brand-height:55px;
$sidebar-footer-height:35px;
$border-radius:4px;

// Quickly modify global styling by enabling or disabling optional features.
$enable-print-styles: true !default;

// Autocomplete 
$ui-autocomplete-clear-size:  16px;